/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300;500;600&display=swap');


/* common style starts from here */
body{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
}


.hr-line{
    width: 55px;
    border: 1px solid #E76F51;
    margin: auto;
}

/* common style ends from here */

/* top hero starts from here */
#top-hero{
    background-color: #264653;
    padding: 55px 10px;
}

.hero-details{
    color: white;
}

.hero-details h1{
    font-size: 48px;
    font-weight: 600;
}

.purchase-btn{
    background-color: #E76F51;
}
/* top hero ends from here */

/* feature bike starts from here */
.grayscale {
    filter: grayscale(100%);
}

/* feature bike ends from here */

/* client section starts from here */
.filled-icon{
    color:  #E77C40;
    font-size: 14px;
  }

  .empty-icon{
    color: #E77C40;
    font-size: 14px;
  }
  /* client section ends from here */

  